* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}


button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

//-------------------------------//

// ========== fonts ========
@font-face {
  font-family: 'StratosSkyeng';
  src: local('StratosSkyeng'), local('StratosSkyeng'),
    url('../fonts/StratosSkyeng.woff2') format('woff2'),
    url('../fonts/StratosSkyeng.woff') format('woff'),
    url('../fonts/StratosSkyeng.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

//--------------------------

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'StratosSkyeng', sans-serif;
  color: #ffffff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

// ========== hover ========
._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-icon:hover svg {

}

// ========== active ========

._btn-text:active {
  
}

._btn-icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

// =================== main ====================//
.main {


  &__nav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
  }

  &__centerblock {
    width: auto;
    flex-grow: 3;
    padding: 20px 40px 20px 111px;
  }

  &__sidebar {
    max-width: 418px;
    padding: 20px 90px 20px 78px;
  }
}


.nav {
  &__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
  }

  
}



.hidden {
  display: none;
}


.logo {
  &__image {

  }
}


.menu {
  
}

.centerblock {
  &__search {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
    margin-bottom: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__h2 {
  
  }

  &__filter {
    
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.search {
  &__svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    stroke: #ffffff;
    fill: transparent;
  }

  &__text {
    flex-grow: 100;
    background-color: transparent;
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    &::placeholder {
      background-color: transparent;
      color: #ffffff;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.filter {
  &__title {

  }

  &__button {
   
  }
}

.content {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__playlist {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.playlist-title {
  &__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }

  &__svg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }
}







.playlist {
  &__item {
   
  }

  &__track {
    
  }
}

.track {
  &__title {
   
  }

  &__title-image {
   
  }

  &__title-svg {
    
  }

  //&__title-text {}

  &__title-link {
    
  }

  &__title-span {
    
  }

  &__author {
    
  }

  &__author-link {
    
  }

  &__album {
    
  }

  &__album-link {
   
  }

  //&__time {}

  &__time-svg {
    
  }

  &__time-text {
    
  }
}

.sidebar {
 

  &__block {
    
  }

  &__list {
 
  }

  &__item {
   
  }

  &__link {
  

  }

  &__img {
  
  }
}

// =================== bar-player ====================//

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.bar {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__player-progress {
    width: 100%;
    height: 5px;
    background: #2e2e2e;
  }

  &__player-block {
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 

  &__volume-block {
   
  }
}

.player {
  

  &__btn-prev,
  &__btn-play,
  &__btn-next,
  &__btn-repeat,
  &__btn-shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  &__btn-prev {
    margin-right: 23px;
  }

  &__btn-prev-svg {
    width: 15px;
    height: 14px;
  }

  &__btn-play {
    margin-right: 23px;
  }

  &__btn-play-svg {
    width: 22px;
    height: 20px;
    fill: #d9d9d9;
  }

  &__btn-next {
    margin-right: 28px;
    fill: #a53939;
  }

  &__btn-next-svg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #d9d9d9;
  }

  &__btn-repeat {
    margin-right: 24px;
  }

  &__btn-repeat-svg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  &__btn-shuffle {
    display: flex;
    align-items: center;
  }

  &__btn-shuffle-svg {
    width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  &__track-play {
   
  }
}

.track-play {
  &__contain {
  
  }

  &__image {
   
  }

  &__svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
  }

  &__author {

  }

  &__author-link {

  }

  &__album {

  }

  &__album-link {
   
  }

  &__like-dis {
 
  }

  &__like,
  &__dislike {
  
  }

  &__like-svg {
   
  }

  &__dislike {
    margin-left: 28.5px;
  }

  &__dislike-svg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
  }
}

.volume {
  &__content {
   
  }

  &__image {
 
  }

  &__svg {
    width: 13px;
    height: 18px;
    fill: transparent;
  }

  &__progress {

  }

  &__progress-line {
    width: 109px;
  }
}

.modal {
  
}

.active {
  color: #b672ff;
  border-color: #b672ff;
}

.modal::-webkit-scrollbar {
  width: 4px;
  background: #4b4949;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  width: 4px;
  background: #ffffff;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-track {
  height: 107px;
}

#newer,
#older {
  margin-right: 10px;
}

.year {

}

.skeleton-items {
  display: flex;
  flex-direction: row;
}

.skeleton-sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 250px;
}
